TestWindows/Connected Services/ProxyCliente/WCF_Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Ventas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantFacturas" type="xs:short" />
      <xs:element minOccurs="0" name="Cod_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deuda" type="xs:float" />
      <xs:element minOccurs="0" name="Dir_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Raz_soc_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruc_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
</xs:schema>