TestWindows/Connected Services/ProxyFactura/WCF_Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Ventas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Ventas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFacturaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacturaBE" nillable="true" type="tns:FacturaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacturaBE" nillable="true" type="tns:ArrayOfFacturaBE" />
  <xs:complexType name="FacturaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_fac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_can" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_fac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nom_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_fac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Raz_soc_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruc_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacturaBE" nillable="true" type="tns:FacturaBE" />
</xs:schema>